{% extends 'base.html.twig' %}

{% block title %}Luxury Services recruitment & services{% endblock %}

{% block body %}
<div class="base">

  <!-- Page -->
  <div class="page">

    <!-- Page Header-->
    <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
      <div class="container">
        <div class="row">
	  <div class="col-md-12">
            <h2 class="white-text">Who We are</h2>
            <span class="white-text">Discover our skills & attributes</span>
            <ol class="breadcrumb">
	      <li><a href="{{ path('home_index', parameters = [], relative = false) }}">Home</a></li>
	      <li class="active">About us</li>
            </ol>
	  </div>
        </div>
      </div>
    </section>

    <!-- Page Content-->

    <section class="section-padding light-gray-bg">
      <div class="container">
        <div class="text-center mb-80">
	  <h2 class="section-title text-uppercase">About us</h2>
	  <p class="section-sub">Luxury Services is a leading professional recruitment consultancy specialising in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.</p>
        </div>
        <div class="row">
	  <div class="col-md-4">
            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
	      <div class="icon">
                <i class="material-icons">&#xE8E8;</i>
	      </div>
	      <div class="desc">
                <h3 class="text-extrabold">Verified jobs</h3>
                <p>Checked and sorted, our job offers are updated regularly to offer you the best opportunities in the industry.</p>
	      </div>
            </div>
	  </div>
	  <div class="col-md-4">
            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
	      <div class="icon">
                <i class="material-icons">&#xE84E;</i>
	      </div>
	      <div class="desc">
                <h3 class="text-extrabold">Recruitment</h3>
                <p>Precise and personalized, we make sure they don’t skip a step: verifying tickets, diplomas and consulting references.</p>
	      </div>
            </div>
	  </div>
	  <div class="col-md-4">
            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
	      <div class="icon">
                <i class="material-icons">&#xE903;</i>
	      </div>
	      <div class="desc">
                <h3 class="text-extrabold">Experienced</h3>
                <p>We know the importance of efficiency and availability. These qualities are therefore our watchwords.</p>
	      </div>
            </div>
	  </div>
	  <div class="col-xs-12">
            <div class="promo-box promo-parallax mt-80 mb-80 ptb-70 text-center">
	      <div class="promo-info">
                <h1 class="text-uppercase mb-30 text-extrabold font-30">We provide customized services on demand</h1>
                <p class="width-60 mb-30">You know that attracting and retaining top talent is vital for the success of your business. It’s that end result you’re focused on – hiring a great team – and not the process to get there. This is where we can help...</p>

                <a href="/contact.html" class="btn btn-lg border secondary waves-effect waves-light mt-20"><span><strong>Get in touch</strong> with us</span></a>
	      </div>
            </div>
	  </div>
        </div>
        <div class="row">
	  <p class="text-center mb-80">The role of a recruitment consultancy is to act as an intermediary, identifying and sourcing suitably qualified candidates on behalf of its clients. Candidates are recruited either for permanent or contract positions (typically for a fixed term) or on a temporary basis. Within the overall recruitment industry, the market for professional recruitment services is a specialist sector which has developed more recently.</p>
        </div>
        <div class="row">
	  <div class="col-sm-6">
            <div id="project-slider" class="carousel slide boot-slider" data-ride="carousel">
	      <ol class="carousel-indicators">
                <li data-target="#project-slider" data-slide-to="0" class="active"></li>
                <li data-target="#project-slider" data-slide-to="1"></li>
	      </ol>

	      <div class="carousel-inner" role="listbox">
                <div class="item active">
		  <img class="img-responsive" src="../assets/img/slide1.jpg" alt="">
                </div>
                <div class="item">
		  <img class="img-responsive" src="../assets/img/slide2.jpg" alt="">
                </div>
	      </div>

	      <a class="left carousel-control" href="#project-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#project-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
	      </a>
            </div>
	  </div>
	  <div class="col-sm-6">
            <h3 class="no-margin text-extrabold">Our philosophy</h3>
            <p class="mt-20 mb-20">
	      Luxury Services is one of the world's leading professional recruitment consultancies, specializing in the placement of candidates in permanent, contract, temporary and interim positions with clients around the world.
	      <br>The Group has established a leading presence in many of the key markets for professional recruitment around the world and has positioned itself in certain other markets, which offer the opportunity for future growth.
            </p>
	  </div>
        </div>
      </div>
    </section>
    <section class="padding-top-110 padding-bottom-70 brand-bg">
      <div class="container">
        <div class="row">
	  <div class="col-md-8 col-md-offset-2">
            <div class="quote-carousel text-center">

	      <div class="carousel-item">
                <div class="content">
		  <h2 class="white-text line-height-40">"Get in touch with Luxury Services to leave the port for the season with the
                    right crew, and a peace of mind knowing that whatever situation arises we will
                    be there to help."</h2>
                </div>
	      </div>
	      <div class="carousel-item">
                <div class="content">
		  <h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time."</h2>
                </div>
	      </div>
	      <div class="carousel-item">
                <div class="content">
		  <h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time."</h2>
                </div>
	      </div>
            </div>
	  </div>
        </div>
      </div>
    </section>

  </div>

</div>

{% endblock %}


{% block javascripts %}
<script>
  onAppReady(function() {
      $('.preload').remove();
  });
</script>
{% endblock %}
